.gridItem {
    min-width: 20px;
    border: 2px black solid;
    background-color: lightgoldenrodyellow;
    text-align: center;
    justify-content: center;
    min-height: 100px;
}

.container {
    background-color: brown;
}

.gridContainer{
    display: grid;
    /* grid-template-columns:1fr 2fr 1fr;
    grid-template-rows: 200px 300px ; */
    grid-template: 200px 200px 200px /1fr 2fr 1fr;
}
.products{
    grid-area: 2/ 2 /span 2/span1;
}
.pricing{
    grid-area: 2 /1/ span 2/ span 1;;
}